@import url(./reset.css);
@import url(./header.css);
@import url(./footer.css);

@media (max-width: 568px) {
    .container{
        margin: 0 auto;
        padding: 0 20px;
    }

    /* Main */
    .main{
        width: 80%;
        height: 100vh - 40%;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .swiper-button-next, .swiper-button-prev{
        display: none;
    }

    .main .swiper .swiper-wrapper .swiper-slide{
        /* background-color: #FFF; */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        /* border-radius: 10px; */
        padding: 20px;
    }

    .main .swiper .swiper-wrapper .swiper-slide img{
        width: 100%;
    }

    .main .swiper .swiper-wrapper .swiper-slide .content{
        text-align: center;
    }

    .main .swiper .swiper-wrapper .swiper-slide h4{
        font-size: 1.3rem;
        color: #FFF;
        margin-bottom: 40px;
    }
    .main .swiper .swiper-wrapper .swiper-slide h4:first-child{
        font-size: 1.1rem;
        color: #FFF;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .main .swiper .swiper-wrapper .swiper-slide #btn-shopNow{
        background-color: #FFF;
        padding: 15px;
        border-radius: 10px;
        color: #0078FF;
    }

    .main #section-arrivals{
        width: 100%;
    }

    .main #section-arrivals #section-title{
        color: #FFF;
        margin-bottom: 20px;
    }

    .main #section-arrivals #cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        
    }

    .main #section-arrivals #cards .card{
        width: 100%;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }

    .main #section-arrivals .card:hover .card-img{
        display: none;
    }

    .main #section-arrivals .hover-img{
        display: none;
    }

    .main #section-arrivals .card:hover .hover-img{
        display: block;
    }

    .main #section-arrivals .card .card-img, .hover-img{
        height: 10rem;
        align-items: center;
    }    
}

@media (min-width: 568px){
    .container{
        margin: 0 auto;
        padding: 0 40px;
    }

    

    /* Main */
    .main{
        width: 80%;
        height: 100vh - 40%;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        /* width: 80%;
        padding: 20px 0;
        align-items: center;
        justify-content: center;
         */
    }

    .swiper-button-next, .swiper-button-prev{
        display: none;
    }

    .main .swiper .swiper-wrapper .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .main .swiper .swiper-wrapper .swiper-slide .content{
        
    }

    .main .swiper .swiper-wrapper .swiper-slide h4:first-child{
        font-size: 1.1rem;
        color: #FFF;
        margin-bottom: 20px;
    }

    .main .swiper .swiper-wrapper .swiper-slide h4{
        font-size: 1.3rem;
        color: #000;
        margin-bottom: 20px;
    }
    .main .swiper .swiper-wrapper .swiper-slide #btn-shopNow{
        background-color: #FFF;
        padding: 15px;
        border-radius: 10px;
        color: #0078FF;
    }

    /* Lançamentos */
    .main #section-arrivals{
        width: 100%;
    }
    .main #section-arrivals #section-title{
        color: #FFF;
        margin-bottom: 20px;
    }

    .main #section-arrivals #cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .main #section-arrivals #cards .card{
        width: 100%;
        background-color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        padding: 20px;
    }

    .main #section-arrivals .card:hover .card-img{
        display: none;
    }
    .main #section-arrivals .hover-img{
        display: none;
    }

    .main #section-arrivals .card:hover .hover-img{
        display: block;
    }

    .main #section-arrivals .card .card-img, .hover-img{
        height: 15rem;
        align-items: center;
    }
}

@media (min-width: 768px){
    .main{
        width: 90%;
    }
    .main #section-arrivals #cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }
    .main #section-arrivals #cards .card{
        width: 90%;
        margin: 0 auto;
    }

    .main #section-arrivals .card .card-img, .hover-img{
        height: 15rem;
        align-items: center;
    }
}

@media (min-width: 1024px){
    

    .swiper-button-next, .swiper-button-prev{
        display: block;
        width: calc(var(--swiper-navigation-size)/ 44 * 27);
    }

    .main #section-arrivals #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 50px;
    }
    .main #section-arrivals #cards .card{
        width: 100%;
        margin: 0 auto;
    }
}